---
// import { Image } from 'astro:assets'
import {profile} from '@/settings'
import SocialIcons from './SocialIcons.astro'
// import ProfilePictures from '@/assets/ac-initials-zoomed.jpeg'
import { getCollection } from 'astro:content'
import { template } from '@/settings'
import Self from './Self.astro'

const isBlogPopulated = await getCollection('blog').then(collection => collection.length > 0)

const {fullName, title} = profile
---

<!-- <div class="avatar-head">
	<div class='flex justify-center items-center flex-col'>
		<Image
			class='mask mask-circle size-44'
			src={ProfilePictures}
			alt={`Profile picture of ${fullName}`}
		/>
		
	</div>
</div> -->

<aside
	class='sidenav px-4 pt-4 h-screen w-[20rem] bg-base-200 text-base-content flex flex-col'
>
	<div class='content flex flex-col my-8  '> <!--h-full justify-between -->
		<Self/>
		<div>
			<div class='mx-4'>
				<ul class='space-y-4 menu grow shrink menu-md overflow-y-auto'>
					<li>
                        <a href=`${template.base}/` class='text-lg'>Home</a>
					</li>
					<li>
                        <a href=`${template.base}/design` class='text-lg'>UI/UX Showcase</a>
					</li>
					<li>
                        <a href=`${template.base}/illustration` class='text-lg'>Illustrations</a>
					</li>
					<li>
						<a href=`${template.base}/about` class='text-lg'>About Me</a>
</li>
					<!-- <li>
                        <a href=`${template.base}/cv` class='text-lg'>CV</a>
                    </li> -->
                    {isBlogPopulated &&
					<li>
                        <a href=`${template.base}/blog/1` class='text-lg'>Writing</a>
</li>
                    }
				</ul>
			</div>
		</div>
		<div class='mx-4'>
			<SocialIcons/>
		</div>
	</div>
</aside>


<style>
	/* .avatar-head {
		z-index:800;
		position:absolute;
		top:-40px;
		display:flex;
		width:calc(100% - 1rem);
		align-items:center;
		justify-content:center; 

	}*/
	.content {
		margin-top:75px;
		height:calc(100vh - var(--mast-height));
	}

	
</style>