---
import { act } from 'react'
import {social} from '../../settings'

const activeSocial = Object.keys(social).filter((key) => social[key as keyof typeof social] !== '')
const calculatedIconSize = activeSocial.length <= 5 ? 'size-6' : activeSocial.length <= 6 ? 'size-5' : 'size-4'
const calculatedContainerSize = activeSocial.length <= 5 ? 'size-12' : activeSocial.length <= 6 ? 'size-10' : 'size-8'

---

<div class='flex flex-wrap justify-between items-center'>

	<!-- Email -->
	{social.email !== '' &&
		<a href={`mailto:${social.email}`}  class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="m2.068 5.482l8.875 8.876a1.5 1.5 0 0 0 2.008.103l.114-.103l8.869-8.87q.043.165.058.337L22 6v12a2 2 0 0 1-1.85 1.995L20 20H4a2 2 0 0 1-1.995-1.85L2 18V6q0-.18.03-.35zM20 4q.182 0 .355.031l.17.039l-8.52 8.52l-8.523-8.522q.166-.045.34-.06L4 4z"/></g></svg>
		</a>
	}

	<!-- GitHub -->
	{social.github !== '' &&
		<a href={social.github} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M7.024 2.31a9 9 0 0 1 2.125 1.046A11.4 11.4 0 0 1 12 3c.993 0 1.951.124 2.849.355a9 9 0 0 1 2.124-1.045c.697-.237 1.69-.621 2.28.032c.4.444.5 1.188.571 1.756c.08.634.099 1.46-.111 2.28C20.516 7.415 21 8.652 21 10c0 2.042-1.106 3.815-2.743 5.043a9.5 9.5 0 0 1-2.59 1.356c.214.49.333 1.032.333 1.601v3a1 1 0 0 1-1 1H9a1 1 0 0 1-1-1v-.991c-.955.117-1.756.013-2.437-.276c-.712-.302-1.208-.77-1.581-1.218c-.354-.424-.74-1.38-1.298-1.566a1 1 0 0 1 .632-1.898c.666.222 1.1.702 1.397 1.088c.48.62.87 1.43 1.63 1.753c.313.133.772.22 1.49.122L8 17.98a4 4 0 0 1 .333-1.581a9.5 9.5 0 0 1-2.59-1.356C4.106 13.815 3 12.043 3 10c0-1.346.483-2.582 1.284-3.618c-.21-.82-.192-1.648-.112-2.283l.005-.038c.073-.582.158-1.267.566-1.719c.59-.653 1.584-.268 2.28-.031Z"/></g></svg>
		</a>
	}

	<!-- GitLab -->
	{social.gitlab !== '' &&
		<a href={social.gitlab} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class={calculatedIconSize} fill="currentColor"
				><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
				<path
					d='M503.5 204.6L502.8 202.8L433.1 21C431.7 17.5 429.2 14.4 425.9 12.4C423.5 10.8 420.8 9.9 417.9 9.6C415 9.3 412.2 9.7 409.5 10.7C406.8 11.7 404.4 13.3 402.4 15.5C400.5 17.6 399.1 20.1 398.3 22.9L351.3 166.9H160.8L113.7 22.9C112.9 20.1 111.5 17.6 109.6 15.5C107.6 13.4 105.2 11.7 102.5 10.7C99.9 9.7 97 9.3 94.1 9.6C91.3 9.9 88.5 10.8 86.1 12.4C82.8 14.4 80.3 17.5 78.9 21L9.3 202.8L8.5 204.6C-1.5 230.8-2.7 259.6 5 286.6C12.8 313.5 29.1 337.3 51.5 354.2L51.7 354.4L52.3 354.8L158.3 434.3L210.9 474L242.9 498.2C246.6 500.1 251.2 502.5 255.9 502.5C260.6 502.5 265.2 500.1 268.9 498.2L300.9 474L353.5 434.3L460.2 354.4L460.5 354.1C482.9 337.2 499.2 313.5 506.1 286.6C514.7 259.6 513.5 230.8 503.5 204.6z'
				></path></svg>
	</a>
	}

	<!-- X -->
	{social.x !== '' &&
		<a href={social.x} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class={calculatedIconSize} fill="currentColor"
				><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
				<path
					d='M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z'
				></path></svg>
		</a>
	}

	<!-- Linkedin -->
	{social.linkedin !== '' &&
		<a href={social.linkedin} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M18 3a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H6a3 3 0 0 1-3-3V6a3 3 0 0 1 3-3zM8 10a1 1 0 0 0-1 1v5a1 1 0 1 0 2 0v-5a1 1 0 0 0-1-1m3-1a1 1 0 0 0-1 1v6a1 1 0 1 0 2 0v-3.66c.305-.344.82-.748 1.393-.993c.333-.142.834-.2 1.182-.09a.55.55 0 0 1 .293.188c.052.07.132.226.132.555v4a1 1 0 0 0 2 0v-4c0-.67-.17-1.266-.524-1.744a2.54 2.54 0 0 0-1.301-.907c-.902-.283-1.901-.126-2.568.16a6 6 0 0 0-.623.312A1 1 0 0 0 11 9M8 7a1 1 0 1 0 0 2a1 1 0 0 0 0-2"/></g></svg>
		</a>
	}

	<!-- Google Scholar -->
	{social.scholar !== '' &&
		<a href={social.scholar} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class={calculatedIconSize} fill="currentColor"
				><!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.-->
				<path
					d='M390.9 298.5c0 0 0 .1 .1 .1c9.2 19.4 14.4 41.1 14.4 64C405.3 445.1 338.5 512 256 512s-149.3-66.9-149.3-149.3c0-22.9 5.2-44.6 14.4-64h0c1.7-3.6 3.6-7.2 5.6-10.7c4.4-7.6 9.4-14.7 15-21.3c27.4-32.6 68.5-53.3 114.4-53.3c33.6 0 64.6 11.1 89.6 29.9c9.1 6.9 17.4 14.7 24.8 23.5c5.6 6.6 10.6 13.8 15 21.3c2 3.4 3.8 7 5.5 10.5zm26.4-18.8c-30.1-58.4-91-98.4-161.3-98.4s-131.2 40-161.3 98.4L0 202.7 256 0 512 202.7l-94.7 77.1z'
				></path></svg>
		</a>
	}

<!-- Inspire -->
	{social.inspire !== '' &&
		<a href={social.inspire} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
			<svg
				class={calculatedIconSize}
				viewBox="0 0 512 512"
				version="1.1"
				fill="currentColor"
			><path
						d="M 32,32 V 480 H 480 V 32 Z m 77.67338,79.67785 a 34.076063,34.076063 0 0 1 34.07606,34.07606 34.076063,34.076063 0 0 1 -34.07606,34.07607 34.076063,34.076063 0 0 1 -34.07606,-34.07607 34.076063,34.076063 0 0 1 34.07606,-34.07606 z m 76.17002,9.02014 64.17254,0.16051 116.23015,187.25783 V 120.69799 h 59.13199 V 401.32438 H 360.23266 L 247.9821,215.91051 V 401.32438 H 185.8434 Z M 78.60403,203.88367 h 62.1387 v 197.44071 h -62.1387 z" />
			</svg>

		</a>
	}

<!-- arxiv -->
	{social.arxiv !== '' &&
		<a href={social.arxiv} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
				<svg
					viewBox="0 0 448 512" class={calculatedIconSize} fill="currentColor">
						<path
							id="path2"
							d="M 48 32 C 21.500027 32 0 53.500027 0 80 L 0 432 C 0 458.49997 21.500027 480 48 480 L 400 480 C 426.49997 480 448 458.49997 448 432 L 448 80 C 448 53.500027 426.49997 32 400 32 L 48 32 z M 119.65039 96.003906 C 125.28756 96.137972 130.62109 102.61523 130.62109 102.61523 L 220.51758 188.85547 L 285.72461 129.72852 L 285.84766 129.61719 L 285.97852 129.50977 C 289.14377 126.40068 293.32537 124.54049 297.75391 124.26953 L 297.75781 124.25781 C 298.44106 124.25881 299.12356 124.30403 299.80078 124.39453 C 306.35934 125.95563 311.92292 130.27688 315.05664 136.24609 C 317.64859 142.62383 315.2443 147.65458 310.2168 154.18555 L 310.15039 154.27539 L 310.07617 154.36133 L 253.82031 220.80469 L 270.11523 236.43555 C 281.14298 246.51325 281.08425 263.90174 269.98828 273.9043 L 255.10938 287.73828 L 338.19531 387.75 C 342.1008 391.80004 343.677 397.55913 342.37695 403.0332 C 340.75484 408.86672 336.2853 413.47986 330.50586 415.28516 C 328.97205 415.75521 327.37765 415.996 325.77344 416 C 321.33377 415.92934 317.08527 414.17362 313.89062 411.08984 L 219.31445 321.01953 L 157.94531 378.07617 C 155.54021 381.06395 151.94176 382.8419 148.10742 382.9375 C 142.12088 382.9965 136.70232 379.40351 134.42383 373.86719 C 132.18619 368.49175 134.66583 361.00412 138.67188 356.73633 L 190.26953 293.35938 L 171.77734 275.74609 C 159.33149 263.30343 159.90594 245.34868 173.28711 231.9707 L 189.16992 217.10742 C 189.16992 217.10742 117.40064 130.92467 110.3457 120.54492 C 105.52888 113.64687 103.95229 109.94978 106.14844 104.67969 C 108.4562 99.302919 113.80085 95.868679 119.65039 96.003906 z M 297.75391 129.04492 L 297.75391 129.05859 C 294.40621 129.36416 291.27986 130.8604 288.94141 133.27539 L 223.98633 192.18164 L 250.36133 217.48438 L 306.41992 151.26562 C 311.61979 144.50803 312.06639 141.61313 310.61719 138.05078 C 308.14154 133.68067 304.02792 130.47409 299.18555 129.14062 C 298.71138 129.07843 298.23215 129.04692 297.75391 129.04492 z M 192.43555 220.59766 L 176.54883 235.46289 C 165.67347 246.33825 163.98401 261.18519 175.15625 272.35742 L 317.18945 407.64258 C 319.49582 409.87355 322.55769 411.15477 325.76562 411.23047 C 326.89686 411.22878 328.02077 411.05873 329.10156 410.72461 C 333.35216 409.38528 336.62637 405.97076 337.78711 401.66797 C 338.97453 397.73533 337.23199 394.24478 334.44531 390.75586 L 192.43555 220.59766 z " />
				</svg>
		</a>
	}

	
<!-- dribbble -->
	{social.dribbble !== '' &&
		<a href={social.dribbble} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M13.774 14.439a32.8 32.8 0 0 1 1.536 7A10 10 0 0 1 12 22a9.95 9.95 0 0 1-5.567-1.692a12.03 12.03 0 0 1 7.34-5.87Zm7.799.463a10.02 10.02 0 0 1-4.355 5.63a35 35 0 0 0-1.46-6.468a12.06 12.06 0 0 1 5.815.838m-9.428-4.417q.499 1.018.93 2.073a14.03 14.03 0 0 0-8.207 6.451a10.08 10.08 0 0 1-2.827-7.922c3.343.708 6.87.502 10.104-.602m7.575-4.841a10.07 10.07 0 0 1 2.24 7.26a14.1 14.1 0 0 0-6.9-.77a35 35 0 0 0-1.055-2.398a19 19 0 0 0 5.715-4.092M7.266 3.19a33 33 0 0 1 3.93 5.502a17.13 17.13 0 0 1-8.776.43A10.03 10.03 0 0 1 7.266 3.19M12 2c2.388 0 4.581.837 6.3 2.234a17 17 0 0 1-5.22 3.726a35 35 0 0 0-3.86-5.568A10 10 0 0 1 12 2"/></g></svg>
		</a>
	}
		
<!-- instagram -->
	{social.instagram !== '' &&
		<a href={social.instagram} target="_blank" class={`${calculatedContainerSize} inline-flex items-center justify-center rounded-xl hover:bg-primary/20 transition-all duration-300`}>
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8a5 5 0 0 1 5-5zm-4 5a4 4 0 1 0 0 8a4 4 0 0 0 0-8m0 2a2 2 0 1 1 0 4a2 2 0 0 1 0-4m4.5-3.5a1 1 0 1 0 0 2a1 1 0 0 0 0-2"/></g></svg>
		</a>
	}
</div>
